.OTP_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black !important;
}

.OTP_container input {
    outline: none;
    border-radius: 8px;
    text-align: center;
    margin-right: 20px;
    border: 0.2px solid #6F7978;
    color: black !important;
}

.otpInput {
    font-size: 50px;
    color: black !important;
}