/* .cursor {
    height: 100px;
    width: 1000px;
    border-radius: 500px;
    background-color: rgb(235, 164, 255);
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 20px rgba(255, 96, 96, 0.8);
    filter: blur(100px);
} */

.container {
    position: relative;
}

.circles1 {
    height: 600px;
    width: 1000px;
    border-radius: 500px;
    background: linear-gradient(rgba(44, 240, 221, 0.548),
            rgba(18, 255, 176, 0.439),
            rgba(0, 255, 162, 0.485));
    filter: blur(100px);
    position: absolute;
    animation: move 15s linear 2s infinite;
}

.page_content {
    padding: 0 24px;
    line-height: 50px;
}

.page_content h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.page_content p {
    font-size: 30px;
    margin-bottom: 50px;
}

.page_content ul li {
    font-size: 20px;
    margin-bottom: 50px;
}

@keyframes move {
    0% {
        left: 0;
        top: 0;
        height: 600px;
        width: 500px;
    }

    25% {
        left: 80%;
        top: 0;
        height: 500px;
        width: 400px;
    }

    50% {
        right: -20%;
        top: 75%;
        height: 800px;
        width: 400px;
    }

    75% {
        left: 0;
        top: 75%;
        height: 500px;
        width: 600px;
    }

    100% {
        left: -50%;
        top: -60%;
        height: 600px;
        width: 700px;
    }
}