.container {
    width: 80%;
    margin: auto;
}

.heading {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.main_container {
    width: 100%;
    display: flex;
    padding: 50px 0;
    justify-content: space-between;
}

.col {
    width: 32%;
}

.row2,
.row {
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 16px;
    padding: 20px;
    border: 1px solid grey;
}

.image2,
.image {
    width: 100%;
    text-align: center;
}

.image2 img,
.image img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    transition: opacity 0.5s ease-in-out;
}

.heading_1 {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.text1 {
    font-weight: bold;
    font-size: 12px;
}

.text2 {
    display: none;
}

.row2:hover .text2,
.row:hover .text2 {
    display: block;
}

.row:hover~.row2 .image2 img {
    display: none;
}

/* this specific CSS is not working tell me why and tell me how it will work */
.row2:hover~.row .image img {
    width: 100%;
}

.row2:hover~.row {
    border: 10px solid limegreen;
}

.hiddenImage {
    display: none;
    transition: opacity 5s ease-in-out;
}



@media (max-width: 600px) {
    .main_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0;
        justify-content: space-between;
        justify-content: center;
    }

    .col {
        width: 90%;
    }
}