.box {
    width: 100%;
    height: 100vh;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    align-content: center;
    align-items: center !important;
    flex-direction: column;
}

.select {
    width: 50%;
}

.menu_item {}